/* https://stackoverflow.com/questions/21955088/7-equal-columns-in-bootstrap */
  
  @media (min-width: 992px) {
    .five-cols .col-md-2,
    .five-cols .col-sm-2,
    .five-cols .col-lg-2 {
      width: 19%;
      *width: 19%;
    }
  }

 ul {
  list-style: none;
  }

  .weatherIcon {
    position:relative;
    right:0.7rem;
  }